.env
GROQ_API_KEY=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
GOOGLE_API_KEY=AIzaSyBTAoR8tdy3kmzZFAdg_Wlg1ArbVCUUz5E
MONGODB_URI=mongodb+srv://paneer:z5Ah!Cd!mYZvuN^@cluster0.uxrcy.mongodb.net/
